<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymele   af.org">
<head>
    <meta charset="UTF-8">
    <title>Landon Hotel: Room Reservations</title>
</head>
<body>
<h1>Welcome to Room Reservations Page</h1>
<table>
    <tr>
        <td>Room</td>
        <td>Room Number</td>
        <td>Guest</td>
    </tr>
    <tr th:each="roomReservation: ${roomReservations}">
        <td th:text="${roomReservation.roomName}">Room Name</td>
        <td th:text="${roomReservation.roomNo}">Room Number</td>
        <td th:text="${roomReservation.lName}!=null?${roomReservation.lName} + ', ' + ${roomReservation.fName} : 'VACANT'">Full Name</td>

    </tr>
</table>
</body>
</html>